{% extends 'main/layout.html' %}    <!--путь до шаблона страницы-->

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>

        {% if news %}
            {% for el in news %}
            <div class="alert alert-warning" style="width: 600px; text-align: left; margin: 20px 23%;">
                <h3>{{ el.title }}</h3>
                <p>{{ el.date }}</p>
                <p>{{ el.text }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Упс, ничего нет...</p>
        {% endif %}

    </div>

{% endblock %}