{% extends 'main/layout.html' %}    <!--путь до шаблона страницы-->

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития. С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.</p>

        {{ news }}

    </div>

{% endblock %}